* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: cornsilk;
}

bo